.cover__description-text{
    font-family: Raleway;
    font-size: 22px;
    font-weight: normal;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    word-spacing: 0.8em;

    text-transform: uppercase;

}