.header__links-list-item {
  margin: 0 0 0 2px;
  padding: 0 0 0 2px;

  font-size: 18px;
  text-decoration: solid underline 1px;
  text-underline-offset: 4px;
}

.header__links-list-item:first-child {
  list-style-type: none;
  text-decoration-color: transparent;
}