.about__title {
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  align-self: flex-start;
  margin: 98px 0 99px 25px;
}
