.card__title {
  margin: 48px 35px 0 39px;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration: solid underline 1px;
  text-underline-offset: 2px;
  text-transform: uppercase;
  z-index: 1;
}
